<%= render "layouts/header"%>
<div class="content">
  <div class="wrapper">
    <div class="wrapper-top-2">
        <div class ="wrapper-top-3">
            <div class="wrapper-top-4">
                <div class="wrapper-top-5">

                    <h1 class="title is-1 create">Create a New Category!</h1>
                    <%= link_to "New category", new_category_path, class: "button is-primary" %>

                </div>
            </div>
        </div>
    </div>
  </div>
</div>