<%= render "layouts/header"%>

<div class="wrapper">
  <div class="card">
    <h1>New category</h1>

    <%= render "form", category: @category %>

    <br>

    <div>
      <%= link_to "Back to categories", categories_path %>
    </div>
  </div>
</div>
